
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
}
.header {
	
}
.conteiner {
    max-width: 768px;
    position: relative;
    margin: 0px auto;
	display: block;
	padding: 0;
	

}
.burger{
	
	position: fixed;
	right: 0px;	
	display: block;
	height: 40px;	
	width: 40px;
	z-index: 20;


}
.burger:before, 
.burger:after{
	content: '';
	background-color: #fff;
	position: absolute;
	width: 30px;
	height: 3px;
	left: 5px;
	
}
.burger:before{
	top: 10px;
	transition: all 0.3s ease 0s;
}

.burger:after{
	bottom: 10px;
	transition: all 0.3s ease 0s;
}
.burger span{
	background-color: #fff;
	position: absolute;
	width: 30px;
	height: 3px;
	left: 5px;
	top: 18px;
	transition: all 0.3s ease 0s;
}
.burger.active:before{
	transform: rotate(45deg);
	top: 18px;
}
.burger.active:after{
	transform: rotate(-45deg);
	bottom: 19px;
}
.burger.active span{
	transform: scale(0);
}
.menu{
	position: fixed;
	box-sizing: border-box;
	background-color:#fff;
	height: 100%;	
	width: 300px;	
	left: -300px;
	
	padding: 40px 15px 15px 15px;
	z-index: 5;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
}

.menu.active{
	width: 100%;
	left: 0;
}

.menu:before{
	content: '';
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	background-color: #57b846;
	z-index: 10;
}

.menu-list {
	display: block;
	position: relative;
    margin: 0;
    padding: 0px;
	list-style: none;
	width: 100%;
}

.menu-list__item {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

.menu-link{ 
 	display: block;
	padding: 12px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
	color: rgb(77, 77, 77);
	border-bottom: 1px solid #57b846;
}

 .sub-menu-link{
	display: inline-block;
	padding: 12px;	
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	font-size: 1.2em;
	color: rgb(77, 77, 77);	
	background-color:#57b8460a ;
	border-bottom: 1px solid #57b846;
}
.sub-menu-link:hover{
	background-color:#57b8463a ;
	transition: background-color .2s ease-in;
}
.menu-link:hover{
	background-color:#57b8463a ;
	transition: background-color .2s ease-in;
}
.sub-mul{
	height: 0;
}
.sub-mul.open {
	height: 100%;
}

.content {
/*	padding-left: 300px;*/

}


@media screen and (min-width: 769px){
	.menu{
		left: 0;
	}	

	.burger{
		display: none;
	}
	.content{
		/*padding-left: 0px;*/
	}

}
.conteiner-two {
	max-width: 768px;
    position: relative;
	margin: 0px auto;	
	padding: 50px 5px 10px 5px;
}

.content-form {
	position: relative;
	max-width: 400px;	
	margin: 0 auto;		
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
/* ========= Форма =========================================*/

.form {
	box-sizing: border-box;
	width: 100%;
	padding: 60px 20px 10px;
	font-size: 18px;
	color:rgb(77, 77, 77) ;	
}
.form_title {
	font-family: JosefinSans-Bold;
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #57b846;
    padding-top: 5px;
	padding-bottom: 5px;
	
}
.form_item {
	margin-bottom: 20px;
}


.checkbox {
	width: 100%;
	
	position: relative;
	height: 35px;
	cursor: pointer;
	padding-bottom: 10px;
	border-bottom: 1px dashed #bfc8c4;
	border-width: 90%;
		
	
}
 
.checkbox:before{
	content: '';
	width: 50px;
	height: 20px;
	border-radius: 10px;
	background-color: #bfc8c4;
	position: absolute;
	right: 5px;
	top: 0;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;

}
.checkbox:after{
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	border-radius: 50%;
	background-color:  #bfc8c4;
	right: 30px;
	top: -5px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s ease 0s;

}

.checkbox.active:before{
	background-color: #57b846;
}.checkbox.active:after{
	background-color: #57b846;
	right: 5px;
}
.checkbox input{
	display: none;
}
.checkbox_label {
padding:5px 0px 0px 10px;
	

}
.checkbox_input {
	
}
.form_label {
	display: block;
	margin: 0px 0px 5px 0px;
	padding: 10px;
	
}
.form_input {
	box-sizing: border-box;
	height: 40px;
	padding: 0px 10px;
	width: 100%;
	font-size: 18px;	
	border: #57b846 1px solid;
	border-radius: 10px;
}

.options {
	
	
}

.options_item {
	position: relative;
	
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	
}
.options_item:before{
	content: '';
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #bfc8c4;
	
	position: absolute;
	right: 5px;
	top: 0;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s ease 0s;

}
.options_item:after{
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	border-radius: 50%;
	background-color:  #57b846;
	right: 10px;
	top: 5px;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;

}
.options_item.active:before{
	
}.options_item.active:after{
	transform: scale(1);
}
.options_item input{
	position: relative;
	display: none;
}

.options_label {
	
	display: block;
	padding:  10px 0px;
	cursor: pointer;
	
}
.select {
	border: #57b846 1px solid;
	box-sizing: border-box;
	height: 40px;
	padding: 0px 10px;
	width: 100%;
	font-size: 18px;	
	border: #57b846 1px solid;
	border-radius: 10px;
}

.form_button {
	width: 100%;
	height: 40px;
	color: #fff;
	border-radius: 10px;
	background-color:  #57b846;
	font-size: 18px;
	margin-bottom: 40px;
}
.form_fieldset{
	border: solid 1px#bfc8c4;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 20px 10px 10px;

	
}
.form_fieldset--legend{
	padding: 0px 5px;
}